html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* html {
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  background-repeat: no-repeat;
} */

.container {
  margin-top: 200px;
}
